BACKEND_URL=
EMAIL_FROM=
FRONTEND_URL=
GEMINI_API_KEY=
PORT=3000
RESEND_API_KEY=
RESEND_TEST_EMAIL=
SUPABASE_SECRET_KEY=
SUPABASE_URL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SMS_FROM=
TWILIO_VERIFIED_TO=
TWILIO_WHATSAPP_FROM=
VITE_API_BASE_URL=